body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: antiquewhite;
    max-width: 600px;
    width: 90%;
    height: 70dvh;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.274);
    padding: 1em;
}

h3{
    font-size: 1em;
    font-weight: lighter;
    color: white;
}

h1{
    font-weight: bolder;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199);
}


