body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
    background-color: rgb(0, 136, 255);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(238, 238, 238);
    max-width: 600px;
    width: 90%;
    min-height: 40dvh;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.274);
    padding: 1em;
    align-items: start;
    padding: 30px;
}

h3{
    font-size: 1em;
    font-weight: lighter;
    color: white;
}

h1{
    font-weight: bolder;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199);
}

h2{
    font-weight: lighter;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

p{
    display: inline;
}

select{
    min-width: 30%;
    min-height: 40%;
}



