body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: antiquewhite;
    max-width: 600px;
    width: 90%;
    height: 70dvh;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.274);
    padding: 1em;
}

h3{
    font-size: 1em;
    font-weight: lighter;
    color: white;
}

h1{
    font-weight: bolder;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199);
}

.ajuste{
    width: 300px;
    height: 300px;
}

#imagem{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#horas{
    font-size: 1.3em;
    letter-spacing: 1px;
    padding-top: 0.7em;
}

.madruga{
    background-color: rgb(17, 17, 17);
}

.dia{
    background-color: rgb(0, 140, 255);
}

.tarde{
    background-color: rgb(247, 181, 0);
}

.noite{
    background-color: rgb(0, 0, 75);
}

